:root {
    --lightgray: #999;
    --gray: #777;
    --link-blue: #58a6ff;
    --white: #f2f3f4;
    --padding: 15px 20% 15px 20%;
    --transition: all ease-in .2s;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--lightgray);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray);
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: black;
    text-decoration: none;
    display: flex;
    width: fit-content;
}

header .logo img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

header img {
    width: 50px;
    height: auto;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links * {
    font-size: 1.2em;
    margin-inline: 20px;
    color: black;
    text-decoration: none;
}

main {
    padding: var(--padding);
    background-color: var(--white);
    flex-grow: 1;
    min-height: 90vh;
}

main h1 {
    margin-block: 20px;
}

main h2 {
    margin-block: 15px;
}

main h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

code,
kbd {
    font-family: Consolas, monospace;
    white-space: pre-line;
}

table {
    border-collapse: collapse;
}

thead * {
    font-weight: bold;
}

td {
    text-align: center;
    padding: 5px;
    outline: 1px solid var(--lightgray);
}

td.left {
    text-align: left;
}

footer {
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer nav {
    display: flex;
    flex-direction: column;
}

main a,
footer a {
    color: var(--link-blue);
    text-decoration: none;
    margin-block: 5px;
}

footer a:hover {
    text-decoration: underline;
}

section {
    padding-block: 10px;
}

#generator-form {
    display: flex;
    flex-direction: column;
}

button[type=submit] {
    transition: var(--transition);
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    border: 2px solid darkgreen;
    color: darkgreen;
    margin-top: 10px;
    font-size: 1em;
    width: fit-content;
    align-self: center;
}

button[type=submit]:hover {
    color: var(--white);
    background-color: darkgreen;
}

input[type=checkbox] {
    min-width: 20px;
    min-height: 20px;
}

.input-wrapper {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid var(--lightgray);
    margin-bottom: 10px;
    max-width: 100%;
}

.input-wrapper,
.input-wrapper * {
    transition: var(--transition);
}

.input-wrapper label {
    min-width: 30%;
    padding-right: 8px;
    color: var(--lightgray);
}

.input-wrapper input {
    flex-grow: 1;
    background-color: transparent;
}

.input-wrapper:focus-within {
    border-color: darkgreen;
}

.input-wrapper:focus-within label {
    color: darkgreen;
    padding-left: 8px;
    padding-right: 0;
}

blockquote p {
    margin-block: 10px;
}

@media screen and (max-width: 1015px) {
    :root {
        --padding: 15px 15% 15px 15%;
    }
}

@media screen and (max-width: 850px) {
    :root {
        --padding: 15px 10% 15px 10%;
    }
}

@media screen and (max-width: 740px) {
    header .header-links * {
        margin-inline: 5px;
    }

    .input-wrapper label {
        min-width: 40%;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --padding: 15px;
    }

    header .logo img
    {
        width: 74px;
        height: 74px;
    }
}

@media screen and (max-width: 500px) {
    blockquote p,
    button[type=submit],
    .generator .input-wrapper * {
        font-size: 1.3em;
    }

    .input-wrapper input {
        max-width: 60%;
    }
}

@media screen and (max-width: 390px) {
    .header-links a:first-child,
    header em {
        display: none;
    }

    .logo h1 {
        font-size: 1.5em;
    }

    header .logo div {
        display: flex;
        align-items: center;
    }

    header .logo img {
        width: 50px;
        height: 50px;
    }

    .input-wrapper label {
        min-width: 45%;
    }

    .input-wrapper input {
        max-width: 55%;
    }

    table {
        font-size: 0.75em;
    }

    table td {
        padding: 2px;
    }
}
